@model ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <p>@ViewBag.Message</p>

    <fieldset>
        <legend>User security details</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
        </ol>
        <input type="submit" value="Reset" />
        <input id="back-to-login-user-button" type="button" value="Back to login" onclick="location.href='@Url.Action("Login")'" style="float: right;" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}