@model PasswordSettingsModel

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="~/Scripts/libraries/jquery/validate/jquery.validate.js"></script>
<script src="~/Scripts/libraries/jquery/validate/jquery.validate.unobtrusive.js"></script>


@using (Ajax.BeginForm("PasswordSettings", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "password-settings-inner-div", InsertionMode = InsertionMode.Replace }, new { id = "password-settings-form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="password-settings-inner-div">
        <div style="border: lightgrey 1px solid; padding: 1.3em;">

            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>

            <input id="submit-button" type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" />
        </div>
    </div>
}

